@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('styro.css');

body{
    font-family: 'butterpop', sans-serif;
    font-size: 40px;
}

nav.bars {
    display:flex;
    justify-content: flex-end;
    padding: 16px;
    cursor: pointer;
}

nav.nav-bar {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-600px);
    transition: 0.5s all ease-in-out;
}

nav.nav-bar.active {
    transform: translateY(0);
}

nav.nav-bar .item {
    padding: 16px;
    width: 100%;
    text-align: center;
}

nav.nav-bar .item:hover {
    background-color: #d34b4b;
}


@media (min-width: 768px) {
    nav.bars {
        display: none;
    }
    
    nav.nav-bar {
        flex-direction: row;
        transform: translateY(0);
    }
    
    nav.nav-bar .item {
        width: auto;
    }
}