.container {
    display: grid;
    grid-template-columns: 1fr 60% 400px;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas:
        "item1 item1 item1"
        "item3 item4 item4"
        "item3 item5 item2";
    gap: 4px;
}

.container .item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.container .item:nth-child(2n) {
    background-color: lightcoral;
}

.container .item1 {
    grid-area: item1;
}

.container .item2 {
    grid-area: item2;
}

.container .item3 {
    grid-area: item3;
    background-color: rgb(53, 53, 53);
}

.container .item4 {
    grid-area: item4;
}

.container .item5 {
    grid-area: item5;
}

.animated-container {
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 80px auto;
    gap: 2px;
}

.animated-container .item {
    position: relative;
    width: 20%;
    cursor: pointer;
    transition: 0.5s ease-in-out all;
}

.animated-container .item .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: rgb(48, 177, 95);
    opacity: 0.2;
    z-index: 1;
    transition: 0.5s ease-in-out all;
}

.animated-container .item .text {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out all;
}

.animated-container .item:hover {
    width: 60%;
    transform: translateY(-10px);
}

.animated-container .item:hover .background {
    background-color: rgb(108, 108, 108);
    opacity: 1;
}

.animated-container .item:hover .text{
    color: white;
}