.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: "item1 item1 item2 item2"
        "item3 item4 item4 item4"
        "item5 item5 item5 item5";
    gap: 4px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.item:nth-child(2n) {
    background-color: lightcoral;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
    background-color: rgb(53, 53, 53);
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}