.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 200px 400px;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.item:nth-child(2n){
    background-color: lightcoral;
}
